<h1>Livros disponíveis:</h1>
<div class="books_container">
    {{#each books}}
    <div>#{{this.id}} - <span class="bold">{{this.title}} - {{this.pages}} páginas</span></div>
    {{/each}}
    <a href="/" class="link">Adicionar livro</a>
</div>
