<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Nova pag</title>
</head>
<body>
    <h1>Nova pag.</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima at neque quam ipsa atque suscipit harum consequatur accusantium vero libero optio repudiandae voluptatem itaque, sed magnam iure, fuga tempora veritatis?</p>
</body>
</html>