<h1>Olá Handlebars</h1>
<p>Meu nome é {{user.name}} {{user.surname}} e eu tenho {{user.age}}</p>
{{#if auth}}
    <p>Você está autenticado, <a href="/dashboard">clique qui</a> para acessar a área de membros</p>
{{/if}}